/*
*
* Vorlage: CSS styles for the Bike Trail Tirol project
*
*/

body {
    max-width: 1280px;
    margin: auto;
    font-family: "Open Sans"; /* Source: https://fonts.google.com/specimen/Open+Sans */
}

#header {
    text-align: center;
    background-color: white;
    background-image: url("images/header.jpg");
    background-repeat: no-repeat;
    height: 360px;
}
/* Shop Style - Start */
#headershop {
    text-align: center;
    background-color: white;
    background-image: url("images/headershop.jpg");
    background-repeat: no-repeat;
    height: 360px;
}
#headershop h2 {
    color: white;
    font-size: 3em;
    padding: 1em 1em;
    margin: 0;
    text-shadow: 2px 2px 4px #000000;
}
#headershop h3 {
    color: white;
    font-size: 2em;
    padding: 0em 1em;
    margin: 0;        
    text-shadow: 2px 2px 4px #000000;
}
.authorsh {
    text-align: center;
}
.authorsh img {
    border: 4px solid white;
    margin-top: -10px;
    border-radius: 5%;
}
.authorsh p {
    font-size: 0.9em;
    font-style: italic;
}

/* Shop Style - Ende */
/* CSS für Breakfast */
#headerbf {
    text-align: right;
    background-color: white;
    background-image: url("images/header_breakfast.jpg");
    background-repeat: no-repeat;
    height: 360px;
}
#headerbf h2 {
    color: black;
    font-size: 3em;
    padding: 1em 1em;
    margin: 0;
    text-shadow: 2px 2px 4px #000000;
}
#headerbf h3 {
    color: black;
    font-size: 2em;
    padding: 0em 1em;
    margin: 0;        
    text-shadow: 2px 2px 4px #000000;
}
.authorbf {
    text-align: right;
}
.authorbf img {
    border: 4px solid white;
    margin-top: -10px;
    border-radius: 5%;
}
/* ------ Ende Breakfast ------ */
#header h2 {
    font-size: 4em;
    padding: 1em 0;
    margin: 0;
    text-shadow: 2px 2px 4px #000000;
}
#header h3 {
    font-size: 2em;
    margin: 0;        
    text-shadow: 2px 2px 4px #000000;
}

.author {
    text-align: center;
}

.author img {
    border: 4px solid white;
    margin-top: -50px;
    border-radius: 50%;
}
.author p {
    font-size: 0.9em;
    font-style: italic;
}

.article {
    width: 90%;
    margin: auto;
}

#map {
    width: 100%;
    height: 760px;
    border: 1px solid gray;
}

#footer {
    width: 100%;
    padding: 1em 0 3em 0;
}
#footer .back {
    float: left;
}
#footer .next {
    float: right;
}

a:link, a:visited {
    color: black;
}
.gray, .gray a:link, .gray a:visited {
    color: gray;
}
.white, .white a:link, .white a:visited {
    color: white;
}
